@font-face {
  src: url('./fonts/Druk-Wide-Medium.otf');
  font-family: 'Druk-Wide-Medium'
}

@font-face {
  src: url('./fonts/DrukCond-Super.otf');
  font-family: 'DrukCond-Super'
}

@font-face {
  src: url('./fonts/GT-America.otf');
  font-family: 'GT-America'
}

::-webkit-scrollbar { 
    display: none; 
}

.gmnoprint {
  display: none;
}

.gm-style button {
  display: none;
}

$green: #0F5440;
$pink: #EAAFB9;

body {
  font-family: 'Druk-Wide-Medium';
//  height: 100vh;
//  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: $pink;
}

input[type="radio"] {
    left: -999em;
    position: absolute;
}

.radio-group {
    position: fixed;
    font-size: 20px;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    transform: rotateZ(90deg);
    transform-origin: bottom right;
    color: $green;
    z-index: 999;
    
}

.cube-container {
    z-index: 0 !important;
}

.header {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.news-container {
    position: relative;
    height: 100vh;
    font-size: 70px;
    background-color: $pink;
    margin-left: 30px;
}


.news-elements {
    position: relative;
    overflow: auto;
    height: 100%;
    color: $green;
}

.news-element {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
    margin-top: 15px
}

.news-element:hover {
    z-index: 999;
}

.news-element-flex {
    display: flex;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: 'GT-America';
}

.news-element-flex:nth-child(2) span:nth-child(1) {
  font-style: italic;
}

.news-element-top-div {
  margin-right: 50px;
}

.news-loaded-container {
    position: fixed;
    background-color: $green;
    color: $pink;
    height: 100vh;
    width: 100vw;
}

.back-button {
    position: fixed;
    margin-top: 25px;
    margin-left: 25px;
    z-index: 999;
}

.cube-container {
    position: fixed;
    height: 400px;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
  justify-content: center;
  align-items: center;
}

.scene {
  // position: absolute;
  width: 600px;
  height: 400px;
  margin: 0;
  perspective: 400px;
  top: 0;
  left: 0;
  transition-duration: 1s;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-200px);
  transition: transform 1s;
}

.box.show-front  { transform: translateZ( -200px) rotateY(   0deg) }
.box.show-back   { transform: translateZ( -200px) rotateY(-180deg); }
.box.show-right  { transform: translateZ(-200px) rotateY( -90deg); }
.box.show-left   { transform: translateZ(-200px) rotateY(  90deg); }
.box.show-top    { transform: translateZ(-200px) rotateX( -90deg); }
.box.show-bottom { transform: translateZ(-200px) rotateX(  90deg); }


.box__face {
  position: absolute;
   border: 2px solid $pink;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  opacity: 1;
  background: $green;
  color: $pink;
}

.box__face--front,
.box__face--back {
  width: 600px;
  height: 400px;
  line-height: 200px;
  transition-duration: 1s;
}

.box__face--right,
.box__face--left {
  width: 200px;
  height: 400px;
  left: 100px;
  line-height: 200px;
  transition-duration: 1s;
}

.box__face--top,
.box__face--bottom {
  width: 600px;
  height: 200px;
  top: 50px;
  line-height: 100px;
  transition-duration: 1s;
}

.box__face--front  { transform: rotateY(  0deg) translateZ( 100px); }
.box__face--back   { transform: rotateY(180deg) translateZ( 100px); }

.box__face--right  { transform: rotateY( 90deg) translateZ(400px); }
.box__face--left   { transform: rotateY(-90deg) translateZ(200px); }

.box__face--top    { transform: rotateX( 90deg) translateZ(150px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(250px); }

label { margin-right: 10px; }


// Samuel CSS

.box--expanded {
  width: 100%;
  height: 100%;
  perspective: none;
  transition-duration: 1s;
}

.front--scene--expand {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: none;
  perspective: 9999px;
  transition-duration: 1s;
}

.right--scene--expand {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: none;
  perspective: 9999px;
  transition-duration: 1s;
}

.back--scene--expand {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: none;
  perspective: 9999px;
  transition-duration: 1s;
}

.left--scene--expand {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: none;
  perspective: 9999px;
  transition-duration: 1s;
}

.top--scene--expand {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: none;
  perspective: 9999px;
  transition-duration: 1s;
};

.bottom--scene--expand {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: none;
  perspective: 9999px;
  transition-duration: 1s;
};

.box__face--front--expanded {
  overflow: scroll;
  z-index: 999;
}

.box__face--right--expanded {
  overflow: scroll;
  z-index: 999;
}

.box__face--back--expanded {
  overflow: scroll;
  z-index: 999;
}

.box__face--left--expanded {
  overflow: scroll;
  z-index: 999;
}

.box__face--top--expanded {
  overflow: scroll;
  z-index: 999;
}

.box__face--bottom--expanded {
  overflow: scroll;
  z-index: 999;
}

.expand--cube {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    transition-duration: 1s;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

.inner__box__face {
    font-family: 'GT-America';
}

.front-image {
  background-image: url('./images/placeholder.png');
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.spaces-image {
    background-image: url('./images/spaces.jpg');
    background-position: center;
    background-size: cover;
    min-height: 400px;
}

.neighbourhood-image {
  background-image: url('./images/neighbourhood.jpg');
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.info-image {
  background-image: url('./images/info.jpg');
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.calendar-image {
  background-image: url('./images/calendar.jpg');
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
}

.map-container hr {
  position: relative;
  border-color: $pink;
  margin: 0;
  width: 92%;
}

.map-container-left {
  font-size: 20px;
  font-family: 'GT-America';
  max-height: inherit;
  overflow: scroll;
}

.map-container-left ul {
  text-align: left;
  margin-left: 0px;
  padding: 0;
  line-height: 0px;
}

.map-container-left ul li {
  text-align: left;
  height: 40px;
  margin: 0;
  padding-left: 25px;
}

.map-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  font-family: 'Druk-Wide-Medium';
  text-align: left;
  line-height: 25px;
}

.map-list-title span:nth-child(1) {
  margin-left: 25px;
}

.map-list-title span:nth-child(2) {
  // margin-right: 25px;
}

.map-list-title img {
  height: 40px;
  width: 40px
}


.news-loaded-container {
  position: fixed;
  height: 100vh;
}

.news-loaded-content-top-container-background {
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: $green;
  z-index: 999;
}

.news-loaded-content-container {
  position: relative;
  overflow: auto;
  height: 100%;
}

.news-loaded-content-top-container {
  position: absolute;
  margin: 70px 50px 0px 25px;
  width: 90%;
  z-index: 999;
}

.news-loaded-content {
  margin-top: 180px
}

.news-loaded-content-top-container-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 48px;
  align-items: center;
}

.news-loaded-content-top-container-date {
  font-size: 24px;
  font-family: 'GT-America';
  font-style: italic;
}

.news-loaded-content-top-container-tag {
  font-size: 24px;
  font-family: 'GT-America';
}

.news-loaded-content-top-container-share {
  font-size: 18px;
  font-family: 'GT-America';
}

.news-loaded-content-top-container-share img{
  height: 20px;
  width: 20px
}

.news-loaded-content-images {
  margin: 25px;
  max-height: 800px;
  max-width: 800px;
}

.news-loaded-content-images img {
  height: 100%;
  width: 100%;
}

.news-loaded-content-text {
  margin: 30px;
  line-height: 25px;
  font-family: 'GT-America';
  max-width: 70%
}

.news-loaded-container hr {
  position: relative;
  border-color: $pink;
  margin: 0;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%
}